*/__pycache__/
*/*/__pycache__/
*.pyc
*.pth.tar
*.pth
*.cluster.local
*tfevent*
*.png
*.pkl
*/tmp/
process_data/data/
!asset/*.png
#!asset/*/*.png
#!asset/*/*/*.png
*.nfs*
*/model/*
*.tsv
*.pbtxt
*.svg
*/test_log.md
*test_log.md
*notes.md
*.pdf
*.csv
